{% extends 'tom_common/index.html' %}
<!-- calibrations/index.html -->
{% block content %}
<!-- block content -->
{% if sites %}
    <h2>
        Sites:
    </h2>
    <ul class="list-group">
        {% for site in sites %}
            <li class="list-group-item"><em>{{site}}</em></li>
        {% endfor %}
    </ul>
{% else %}
<p>No sites to list :-(</p>
{% endif %}
{% if targets %}
    <h2>
        Today's Targets:
    </h2>
    <ul class="list-group">
        {% for site_for_target, target in targets.items %}
            {% if target %}
            <ul class="list-group">
                <li class="list-group-item">{{site_for_target}}: {{target}}</li>
            </ul>
            {% endif %}
        {% endfor %}
    </ul>

{% else %}
<p>No targets to list :-(</p>
{% endif %}
<a href="{% url 'floyds_ogg' %}" class="btn btn-primary" title="FLOYDS Standards - OGG">FLOYDS Standards - OGG</a>
<a href="{% url 'floyds_coj' %}" class="btn btn-primary" title="FLOYDS Standards - COJ">FLOYDS Standards - COJ</a>
<!-- endblock content -->
{% endblock content %}
