{% extends 'tom_common/index.html' %}
<!-- calibrations/index.html -->
{% block content %}
<!-- block content -->
{% if sites %}
    <h2>
        Sites:
    </h2>
    <ul class="list-group">
        {% for site in sites %}
            <li class="list-group-item"><em>{{site}}</em></li>
            {% if instrument_classes %}
            <ul class="list-group">
                {% for instrument_class in instrument_classes %}
                    <li class="list-group-item">{{instrument_class}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}  
    </ul>
{% else %}
<p>Nothing to list :-(</p>
{% endif %}
<a href="{% url 'floyds_ogg' %}" class="btn btn-primary" title="FLOYDS Standards - OGG">FLOYDS Standards - OGG</a>
<a href="{% url 'floyds_coj' %}" class="btn btn-primary" title="FLOYDS Standards - COJ">FLOYDS Standards - COJ</a>
<!-- endblock content -->
{% endblock content %}
