.pyc
__pycache__

db.sqlite3
.DS_Store

# pg_dump of sample data
calibration-tom*.db

# Media
media/
data/

# virtural envioronments
*env/

# for secret SETTING never to be checked-in
local_settings.py

# this directory is created by ./manage.py collectstatic
_static

# Helm 
helm-chart/charts/
*secret*.yaml

# IDE and editor ignores
.idea/
*~
.vscode/

# test coverage files
.coverage
htmlcov/
