.pyc
*~
__pycache__

db.sqlite3
.DS_Store

# virtural envioronments
*env/

# for secret SETTING never to be checked-in
local_settings.py

# Helm 
helm-chart/charts/

# IDE and editor ignores
.idea/
*~
