# TODO: switch to setup.py so test requirements can be separated
deprecation~=2.1

tomtoolkit==2.16.0

Django==4.2.10
django-bootstrap4==24.1
django-contrib-comments==2.2.0
django-crispy-forms==2.1
django-dramatiq==0.11.6
django-extensions==3.2.3
django-filter==23.5
django-gravatar2==1.4.4
django-guardian==2.4.0
django-storages==1.11.1
djangorestframework==3.14.0


crispy-bootstrap4
psycopg2-binary~=2.9
gunicorn[gevent]==20.0.4
whitenoise==5.2.0
lcogt-logging==0.3.2
responses==0.12.1
factory_boy
# for AWS S3 data storage
django-storages==1.11.1
boto3==1.16.61
# to find local version of tom_base
#-e /Users/nvolgenau/LCOGT/cal_obs_scheduling/tom_base
