# TODO: switch to setup.py so test requirements can be separated
deprecation~=2.1
tomtoolkit~=2.6
psycopg2==2.8.4
gunicorn[gevent]==20.0.4
whitenoise==5.2.0
lcogt-logging==0.3.2
responses==0.12.1
factory_boy
# for AWS S3 data storage
django-storages==1.11.1
boto3==1.16.61
