{% load bootstrap4 targeted_calibrations_extras %}
<h4>NRES Cadences</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Site</th>
            <th>Calibration Type</th>
            <th>Frequency</th>
            <th>Target</th>
            <th>Latest Observation</th>
            <th>Next Observation</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for cadence_data in cadences_data %}
    <tr>
        <td>{{ cadence_data.cadence.cadence_parameters.site }}</td>
        <td>{{ cadence_data.standard_type }}</td>
        <td>{{ cadence_data.cadence.cadence_parameters.cadence_frequency }}</td>
        <td>{{ cadence_data.target.name }}</td>
        {% if cadence_data.prev_obs %}
            <td>
                <a href="{% url 'observations:detail' cadence_data.prev_obs.id %}">
                    {{ cadence_data.prev_obs.target }} at {{ cadence_data.prev_obs.scheduled_start }}
                </a>
            </td>
        {% else %}
            <td>None</td>
        {% endif %}
        {% if cadence_data.next_obs %}
            <td>
                {% if cadence_data.next_obs.scheduled_start %}
                <a href="{% url 'observations:detail' cadence_data.next_obs.id %}">
                    {{ cadence_data.next_obs.target }} at {{ cadence_data.next_obs.scheduled_start }}
                </a>
                {% else %}
                <a href="{% url 'observations:detail' cadence_data.next_obs.id %}">
                    {{ cadence_data.next_obs.target }}, not scheduled
                </a>
                {% endif %}
            </td>
        {% else %}
            <td>
                <a href="http://logs.lco.gtn/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(target,message),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'logstash-*',key:kubernetes.container_name,negate:!f,type:phrase,value:calibration-tom),query:(match:(kubernetes.container_name:(query:calibration-tom,type:phrase)))),('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'logstash-*',key:kubernetes.pod_name,negate:!f,type:phrase,value:runcadencestrategies),query:(match:(kubernetes.pod_name:(query:runcadencestrategies,type:phrase))))),index:'logstash-*',interval:auto,query:(match_all:()),sort:!('@timestamp',desc))">
                    Observation not submitted
                </a>
            </td>
        {% endif %}
        <td>{{ cadence_data.cadence.active|yesno:"Active,Inactive" }}</td>
        <td>
        {% if cadence_data.cadence.active %}
            <a href="{% url 'targeted_calibrations:cadence_play_pause' cadence_data.cadence.id %}?active=False" class="btn btn-warning">||</a>
        {% else %}
            <a href="{% url 'targeted_calibrations:cadence_play_pause' cadence_data.cadence.id %}?active=True" class="btn btn-success">></a>
        {% endif %}
            <a href="{% url 'targeted_calibrations:cadence_delete' cadence_data.cadence.id %}" class="btn btn-danger">X</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">
            No NRES targets available.
        </td>
    </tr>
    {% endfor %}
</table>