{% load bias_calibrations_extras %}
<div>
    <table class="table">
        <tbody>
            <tbody>
                <th>Date</th>
                <th>Filter</th>
                <th>Status</th>
                {% for obsr in observation_records %}
                <tr>
                    <td>
                        {{ obsr.scheduled_end }}
                    </td>
                    <td>
                        {{ obsr|submitted_filters }}
                    </td>
                    <td>
                        {{ obsr.status }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </tbody>
    </table>
</div>
