{% extends 'nres_calibrations/instrument_list.html' %}
<!-- nres_calibrations/index.html -->
{% block content %}
<!-- block content -->
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'nres_calibrations:nres_instrument_targets' inst %}">Instrument Detail</a>
{% endblock breadcrumbs%}
<h1>NRES Calibrations Target List Page</h1>

{% for target in targets %}
<p><a href="{% url 'nres_calibrations:nres_target_detail' inst target.id %}">{{target.name}}</a></p>
{% endfor %}

<p>kwargs: {{ kwargs }}</p>

<!-- endblock content -->
{% endblock content %}
