{% extends 'targeted_calibrations/instrument_list.html' %}
<!-- targeted_calibrations/instrument_target_list.html -->
{% load calibrations_extras %}
{% block content %}
<!-- block content -->
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'targeted_calibrations:instrument_target_list' instrument_type instrument_code %}">{{ instrument_code }} Instrument Target List</a>
{% endblock breadcrumbs%}

<h1>{{ instrument_code }} Target List</h1>
    <div>
        <table class='table table-striped'>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Active</th>
                <th scope="col">Last Observation</th>
                <th scope="col">Next Observation</th>
                <th scope="col">Seasonal Start</th>
                <th scope="col">Seasonal End</th>
            </tr>
            </thead>
            <tbody>
            {% for target in object_list %}
            <tr>
                <td>
                    <a href="{% url 'targeted_calibrations:instrument_target_detail' instrument_type instrument_code target.id %}">{{target.name}}</a>
                </td>
                <td>{{ target.extra_fields.standard_type }}</td>
                <td>{{target.extra_fields.nres_active_target}}</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>{% display_seasonal_start_or_end target.extra_fields.seasonal_start %}</td>
                <td>{% display_seasonal_start_or_end target.extra_fields.seasonal_end %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<hr/>

<!-- endblock content -->
{% endblock content %}
