{% extends 'targeted_calibrations/index.html' %}
<!-- targeted_calibrations/instrument_list.html -->
{% block content %}
<!-- block content -->
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'targeted_calibrations:instrument_list' instrument_type %}">{{ instrument_type }} Instrument List</a>
{% endblock breadcrumbs%}

<h1>{{ instrument_type }} Instrument List</h1>
    <div>
        <table class='table table-striped'>
            <thead>
            <tr>
                <th scope="col">Instrument Code</th>
                <th scope="col">Instrument State</th>
                <th scope="col">Site</th>
                <th scope="col">Enclosure</th>
                <th scope="col">Telescope</th>
            </tr>
            </thead>
            <tbody>
            {% for instrument in object_list %}
            <tr>
                <td>
                    <a href="{% url 'targeted_calibrations:instrument_target_list' instrument_type instrument.code %}">{{instrument.code}}</a>
                </td>
                <td>{{instrument.state}}</td>
                <td>{{instrument.site}}</td>
                <td>{{instrument.enclosure}}</td>
                <td>{{instrument.telescope}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<hr/>

<h3>debug info:</h3>
<p>get_context_data kwargs: {{ kwargs }}</p>
<p>object_list: {{ object_list }}</p>
<p>instrument_type: {{ instrument_type }}</p>
<p>instrument_code: {{ instrument_code }}</p>

<!-- endblock content -->
{% endblock content %}
