{% extends 'targeted_calibrations/instrument_target_list.html' %}
<!-- targeted_calibrations/instrument_target_detail.html -->
{% load targets_extras calibrations_extras %}
{% block content %}
<!-- block content -->
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'targeted_calibrations:instrument_target_detail' instrument_type instrument_code target_id %}">{{ target.name }} Target Detail</a>
{% endblock breadcrumbs%}

<div style="display: inline;">
    <h3>{{ target.name }}</h3><h5>{% standard_type target %}{% sitecode_tag instrument_code %}</h5>
</div>
<div class="row">
    <div class="col-md-6">Last observed: {% last_observation_date target %}</div>
    <div class="col-md-6">RV scatter = X m/s PLACEHOLDER</div>
</div>
<div class="row">
    <div class="col-md-6">Next scheduled: {% next_observation_date target %}</div>
    <div class="col-md-6">Number of observations: 42 PLACEHOLDER</div>
</div>
<hr/>
{% target_data object %}

<hr/>
<h3>debug data:</h3>
<p>get_context_data kwargs: {{ kwargs }}</p>
<p>get_context_data context: {{ context }}</p>
<p>get_context_data template_name: {{ template_name }}</p>
<p>get_context_data instrument_type: {{ instrument_type }}</p>
<p>get_context_data instrument_code: {{ instrument_code }}</p>

<!-- endblock content -->
{% endblock content %}
