{% extends 'targeted_calibrations/index.html' %}
<!-- targeted_calibrations/instrument_list.html -->
{% block content %}
<!-- block content -->
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'targeted_calibrations:instrument_list' instrument_type %}">{{ instrument_type }} Instrument List</a>
{% endblock breadcrumbs%}

<h1>{{ instrument_type }} Calibrations Instrument List Page</h1>

{% for instrument in object_list %}
<p><a href="{% url 'targeted_calibrations:instrument_target_list' instrument_type instrument.code %}">{{instrument.code}}</a></p>
{% endfor %}

<p>get_context_data kwargs: {{ kwargs }}</p>

<!-- endblock content -->
{% endblock content %}
